
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea/cauldron_overflow5.4.iml
/.idea/php.xml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
