
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea/cauldron_overflow5.4.iml
/.idea/php.xml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
